body{
    width: 100%;
    padding: 25px;
    background-color:white);
}
.cards{    
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: 140px;
    width: 80%;
}
.card-images{
    width:100% ;
    height: 300px;
}
.card{
    /* overflow: hidden; */
    background-color: white;
    width:30%;
    margin-left: 30px;
    margin-bottom: 25px;
    
    
}
.card-title{
    margin-top: -25px;
    
}
.card-content{
    border-radius: 10px;
    padding: 25px;
    margin-top: 15px;
    background-color:whitesmoke;
    height: 180px;
}

.card-text
{
    margin-bottom: 25px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.btn{
    color: white;
    height: 30px;
    width: 30%;
    text-align: center;
    background-color:steelblue;
    border-radius: 10px;
    
.title{
      text-align: center;
      color: rgb(177, 174, 177);
      margin-bottom: 50px;
}
  
